In [10]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [11]:
raw_data_file = pd.read_csv('1.04. Real-life example.csv')
raw_data_file.head()

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4

In [12]:
raw_data_file.describe(include='all')

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
count,4345,4173.000000,4345,4345.000000,4195.000000,4345,4345,4345.000000,4345
unique,7,NaN,6,NaN,NaN,4,2,NaN,312
top,Volkswagen,NaN,sedan,NaN,NaN,Diesel,yes,NaN,E-Class
freq,936,NaN,1649,NaN,NaN,2019,3947,NaN,199
mean,NaN,19418.746935,NaN,161.237284,2.790734,NaN,NaN,2006.550058,NaN
std,NaN,25584.242620,NaN,105.705797,5.066437,NaN,NaN,6.719097,NaN
min,NaN,600.000000,NaN,0.000000,0.600000,NaN,NaN,1969.000000,NaN
25%,NaN,6999.000000,NaN,86.000000,1.800000,NaN,NaN,2003.000000,NaN
50%,NaN,11500.000000,NaN,155.000000,2.200000,NaN,NaN,2008.000000,NaN
75%,NaN,21700.000000,NaN,230.000000,3.000000,NaN,NaN,2012.000000,NaN
max,NaN,300000.000000,NaN,980.000000,99.990000,NaN,NaN,2016.000000,NaN

In [13]:
raw_data_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4345 entries, 0 to 4344
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         4345 non-null   object
 1   Price         4173 non-null   float64
 2   Body          4345 non-null   object
 3   Mileage       4345 non-null   int64
 4   EngineV       4195 non-null   float64
 5   Engine Type   4345 non-null   object
 6   Registration  4345 non-null   object
 7   Year          4345 non-null   int64
 8   Model         4345 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 305.6+ KB

In [14]:
raw_data_file.isnull().sum()

Brand             0
Price           172
Body              0
Mileage           0
EngineV         150
Engine Type       0
Registration      0
Year              0
Model             0
dtype: int64

In [15]:
raw_data_file = raw_data_file.dropna(axis=0)

In [16]:
raw_data_file.isnull().sum()

Brand           0
Price           0
Body            0
Mileage         0
EngineV         0
Engine Type     0
Registration    0
Year            0
Model           0
dtype: int64

In [17]:
df_with_dummies = pd.get_dummies(raw_data_file, drop_first=True)
df_with_dummies

,Price,Mileage,EngineV,Year,Brand_BMW,Brand_Mercedes-Benz,Brand_Mitsubishi,Brand_Renault,Brand_Toyota,Brand_Volkswagen,...,Model_Vito,Model_X1,Model_X3,Model_X5,Model_X5 M,Model_X6,Model_X6 M,Model_Yaris,Model_Z3,Model_Z4
0,4200.0,277,2.0,1991,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7900.0,427,2.9,1999,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,13300.0,358,5.0,2003,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,23000.0,240,4.2,2007,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,18300.0,120,2.0,2011,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4339,17900.0,35,1.6,2014,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4340,125000.0,9,3.0,2014,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4341,6500.0,1,3.5,1999,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4342,8000.0,194,2.0,1985,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4344,13500.0,124,2.0,2013,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [18]:
standard_scaler = StandardScaler()
scaled = standard_scaler.fit_transform(df_with_dummies)
scaled

array([[-0.5947619 ,  1.09717342, -0.15492109, ..., -0.05907962,
        -0.01576417, -0.03526728],
       [-0.45142065,  2.54810497,  0.02743762, ..., -0.05907962,
        -0.01576417, -0.03526728],
       [-0.24221991,  1.88067646,  0.45294129, ..., -0.05907962,
        -0.01576417, -0.03526728],
       ...,
       [-0.50565788, -1.57254065,  0.1490101 , ..., -0.05907962,
        -0.01576417, -0.03526728],
       [-0.44754656,  0.29432462, -0.15492109, ..., -0.05907962,
        -0.01576417, -0.03526728],
       [-0.23447173, -0.38277677, -0.15492109, ..., -0.05907962,
        -0.01576417, -0.03526728]])