In [68]:
import pandas as pd

In [69]:
raw_csv_data = pd.read_csv('Absenteeism-data.csv')
df = raw_csv_data.copy()

In [70]:
df = df.drop(['ID'],axis=1)
reason_columns = pd.get_dummies(df['Reason for Absence'],drop_first=True)
df = df.drop(['Reason for Absence'],axis=1)

reason_type_1 = reason_columns.loc[:,1:14].max(axis=1)
reason_type_2 = reason_columns.loc[:,15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:,18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:,22:].max(axis=1)
df = pd.concat([df,reason_type_1,reason_type_2,reason_type_3,reason_type_4],axis=1)

In [71]:
column_names = ["Date","Transportation Expense",'Distance to Work','Age','Daily Work Load Average','Body Mass Index','Education','Children','Pets','Absenteeism Time in Hours','Reason Type 1','Reason Type 2','Reason Type 3','Reason Type 4']
df.columns = column_names

In [72]:
column_names_reordered = ['Reason Type 1','Reason Type 2','Reason Type 3','Reason Type 4',"Date","Transportation Expense",'Distance to Work','Age','Daily Work Load Average','Body Mass Index','Education','Children','Pets','Absenteeism Time in Hours']
df = df[column_names_reordered]

,Reason Type 1,Reason Type 2,Reason Type 3,Reason Type 4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2